@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  input, select {
    @apply w-full rounded-lg p-3 leading-3 placeholder:text-sm bg-white border border-gray-300 focus:outline-none focus:ring-1 focus:border-black focus:ring-black
  }

  .black-btn {
    @apply w-full p-2 border-2 rounded bg-black text-white hover:bg-white hover:text-black border-black
  }

}